body {
    background-image: url("../images/background.jpg");
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
    background-color: transparent !important;
    border: 2px solid transparent !important;
    color: white;
}

.form-control {
    background: rgba(0, 0, 0, 0.5);
    border: 0.16em solid transparent;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.btn-primary {
    background: #00a4dc !important;
    border: none !important;
}

.btn {
    line-height: 1.5 !important;
    border-radius: 0.25rem !important;
    transition: all .15s ease !important;
    display: inline-block !important;
    font-weight: 600 !important;
}

.btn:hover {
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08) !important;
    transform: translateY(-1px) !important;
}

.invalid {
    border: 1px solid red !important;
}